/* Base */
body { font: normal 14px sans-serif; margin: 1.5em 1.5em 0 0 }
p    { margin-bottom: 1.5em }

/* Colors */
#tree   { color: #888 }
#tree a { color: #555 }

/* Layout */
body     { display: table }
#wrap    { display: table-row }
#tree    { display: table-cell; padding: 0 3em 1.5em 0 }
#content { display: table-cell; margin: 0 0 1.5em 0; padding: 0 0 1.5em 0 }

#tree a       { text-decoration: none }
#tree a:hover { text-decoration: underline }
#tree ul      { list-style: none; margin-top: 0; padding-left: 1.5em }

.linenos { padding-right: 0.75em }
